{% if user.is_authenticated %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/studentshome" class="navbar-brand">Pineland Music School</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_staff %}

                        <li><a href="{% url 'teacherapplication' %}">Home</a></li>

                    {% else %}
                        <li><a href="{% url 'studentshome' %}">Home</a></li>

                    {% endif %}
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <form id="logoutForm" action="/logout" method="post" class="navbar-right">
                    {% csrf_token %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="navbar-brand">Hello {{ user.email }}!</span></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

{% else %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Pineland Music School</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'signup'%}">Sign up</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endif %}
